<div class="containter__menu-bar">
  <div class="containter__menu-bar_logo">
    <img src="/assets/image/blog-word-cloud1.jpg">
  </div>
  <div class="containter__menu-bar_lista">
    <ul>
      <li><a href="https://www.linkedin.com/in/mballem/" target="_blank">LinkedIn</a></li>
      <li><span>•</span></li>
      <li><a href="https://github.com/mballem" target="_blank">Github</a></li>
      <li><span>•</span></li>
      <li><a href="http://www.youtube.com/mballem" target="_blank">Youtube</a></li>
    </ul>
  </div>
</div>
