.container__articles {
  margin-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

header {
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  justify-content: center;
}

