
<app-title></app-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card *ngFor="let article of bigCard"
      id="{{article.id}}"
      photoCover="{{article.photo}}"
      cardTitle="{{article.title}}"
      cardDescription="{{article.description}}"
      cardDate="{{article.date}}"
      ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card *ngFor="let article of smallCards"
      id='{{article.id}}'
      photoCover="{{article.photo}}"
      cardTitle="{{article.description}}"
      cardDate="{{article.date}}"
    ></app-small-card>
  </div>
</div>





