<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4">
            <div class="card border-0" style="width: 18rem;">
                <div class="d-flex justify-content-center">
                    <img src="./../../assets/images/figure-1.jpg" 
                         class="card-img-top rounded-circle w-75" 
                         alt="Foto de perfil">
                </div>
                <div class="card-body">
                  <h5 class="card-title text-center">De Souza</h5>
                  <p class="card-text text-center">Desenvolvedor web fullstack</p>
                  <a href="https://github.com/" 
                     class="btn btn-outline-dark d-flex justify-content-center"
                     target="_blank">Github</a>
                  <hr class="mt-4 md-4">  
                  <h6 class="mb-3 font-monospace text-center">Pesquisar por nome</h6>    
                  <input type="text" id="fNome" name="fNome" 
                         class="form-control mb-3 w-100" 
                         [(ngModel)]="filter">  
                  <button type="button" 
                          class="btn btn-outline-warning w-100"
                          (click)="findPostsByNome()">Pesquisar</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h3 class="text-center mb-4 font-monospace">Digite abaixo seus comentários:</h3>
                <div class="form-group mt-2">
                    <label for="nome" class="font-monospace">Nome:</label>
                    <input type="text" id="nome" name="nome" class="form-control" 
                           placeholder="Digite seu nome" 
                           [(ngModel)]="post.nome">
                </div>
                <div class="form-group mt-2">
                    <label for="mensagem" class="font-monospace">Mensagem:</label>
                    <textarea id="mensagem" name="mensagem" class="form-control"
                           cols="30" rows="4"placeholder="Digite sua mensagem" 
                           [(ngModel)]="post.mensagem"></textarea>
                </div>
                <div class="d-flex justify-content-end mt-2">
                    <button type="button" class="btn btn-outline-info w-25" 
                            (click)="adicionarMensagem()">Publicar</button>
                </div>
            </div>
            <hr class="mt-5 md-5">  
            <h3 class="text-center mb-5 font-monospace">Comentários adicionados</h3>
            <div class="container">
                <div class="card mb-3" *ngFor="let post of posts">
                    <div class="card-header">  
                        <nav class="navbar navbar-light bg-light">
                            <div class="container-fluid">
                                <h5 class="card-title">{{post.id}}</h5>
                              <form class="d-flex">
                                <button type="button" 
                                        class="btn btn-outline-danger" title="Excluir Comentário"
                                        (click)="excluirPost(post.id)"><fa-icon [icon]="faTrashAlt"></fa-icon>
                                </button>
                              </form>
                            </div>
                          </nav>
                    </div>                        
                    <div class="card-body">
                        <p class="card-text">{{post.nome}}</p>
                        <p class="card-text">{{post.mensagem}}</p>
                    </div>                       
                </div>
            </div>
        </div>
    </div>    
</div>
