.container__title {
  color: white;
}

.container__title > h1 {
  font-size: 260px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

.container__title > hr {

  border-color: grey;
}

