.container__content {
  margin-top: 20px;

  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;

  align-items: center;
}

.content__cover > img {
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.content__description {
  margin-top: 15px;
  width: 500px;
  height: auto;
}

.content__description > p {
  margin-top: 20px;
  color: gray;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
}

.content__description-back {
  margin-top: 10px;
  margin-left: 80%;
}

.content__description-back > a {
  color: brown;
  font-family: 'Courier New', Courier, monospace;
}

