.container__big-card {
  padding-left: 10px;
  padding-right: 10px;
  width: 548px;
  height: 336px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__photo > img {
  width: 100%;
  height: auto;
}

.big-card__photo__data > p {
  margin-top: 15px;
  color: gray;
  font-size: 14px;
  line-height: 14px;
}

.big-card__title > p {
  margin-top: 10px;
}

.big-card__title > h1 > a {
  color: #d1d1d1;
  font-size: 32px;
  line-height: 42px;
}

.big-card__description {
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}

.big-card__description > p > a {
  color: gray;
}
