<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">redes sociais</h4>                    
            </div>
        </div>
    </div>

    <div class="row">
        <div class="div.col-md-12 d-flex justify-content-center">
            <ul class="social-network">
                <li>
                    <a href="#" class="icoFacebook" title="Facebook">
                        <fa-icon [icon]="faFacebook"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="icoInstagram" title="Instagram">
                        <fa-icon [icon]="faInstagram"></fa-icon>
                    </a>
                </li>
                <li>
                    <a href="#" class="icoLinkedIn" title="LinkedIn">
                        <fa-icon [icon]="faLinkedIn"></fa-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="foot-copyright bg-dark text-center py-3">
        <span class="text-light">&copy; 2020 Copyright:</span>
        <a class="text-light" routerLink="/home">blog.angular</a>
    </div>
</footer>
